@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box !important;
}

body {
    overflow: scroll !important;
    width: 100%;
    height: 100%;
    background: rgba(161, 161, 161, 0.2) !important;
    position: relative !important;
    font-family: 'Roboto', sans-serif;
}

.btn-shadow {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5) !important;
}

.input-shadow {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) !important;
}

.input-shadow:focus {
    border: 1px solid blue;
    box-shadow: 0 0 5px blue !important;
}

.btn-accordion {
    background: rgba(238, 234, 238, 0.7) !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) !important;
}

.accordion-button:not(.collapsed) {
    color: inherit !important;
}

.btn-accordion-active {
    background: rgba(204, 229, 204, 0.8) !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.5) !important;
}

.accordion-body p:hover {
    background: rgba(233, 222, 135, 0.5) !important;
}

.text-decor-none {
    text-decoration: none !important;
}

.font-size-tel {
    font-size: 2.5rem !important;
}

.text-yellow {
    color: #e7b00d !important;
}

.btn-phone {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5) !important;
}

.btn-hover {
    transition: all .5s !important;
}

.btn-hover:hover {
    color: #e7b00d !important;
    transform: scale(1.1) !important;
    transition: all .5s !important;
}

@media (min-width: 678px) {
    .btn-accordion:hover {
        background: rgba(204, 229, 204, 0.8) !important;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.5) !important;
    }

    #map-item {
        width: 65vw !important;
    }
}


.show-body-enter {
    opacity: 0.01 !important;
    transform: scale(0.9);
}

.show-body-enter-active {
    opacity: 1 !important;
    transform: translateX(0) !important;
    transition: opacity 300ms, transform 300ms !important;
}

.show-body-exit {
    opacity: 1 !important;
}

.show-body-exit-active {
    opacity: 0.01 !important;
    transform: scale(0.9) !important;
    transition: opacity 300ms, transform 300ms !important;
}

.hideElement {
    opacity: 0 !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.cursor-pointer:hover {
    color: white !important;
    background: rgba(238, 28, 28, 0.7) !important;
}

.margin-left {
    margin-left: 3rem !important;
    font-size: 2rem !important;
}

.map-styles {
    overflow-y: auto !important;
    width: 100% !important;
    height: 60vh !important;
}

.font-size-home {
    font-size: 3rem !important;
}

.text-decoration-none {
    text-decoration: none !important;
}

.box-shadow {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) !important;
}
.box-shadow_svg {
    filter: drop-shadow(0 3px 2px rgb(0 0 0 / 0.4))!important;
}
.text-sh {
    text-shadow: 3px -2px #000;
}

.ymaps-2-1-79-gotoymaps__pin {
    margin-left: 3rem !important;
    height: 24px !important;
    position: absolute !important;
    z-index: 3 !important;
    transform: translate(-50%, -50%) !important;
    padding: 1.5rem !important;
}

.text-shadow {
    text-shadow: 0 0 1px black;
}

.auth {
    position: absolute !important;
    transform: translateY(100%) !important;
}

/*Loader*/

.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: grey;
}

.loader:before,
.loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}

.loader:after {
    color: #FF3D00;
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {
    0%,
    100% {
        box-shadow: .2em 0 0 0 currentcolor;
    }
    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
        box-shadow: 0 .2em 0 0 currentcolor;
    }
    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
        box-shadow: 0 -.2em 0 0 currentcolor;
    }
    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}

/*main-loader*/
.main-loader {
    transform: translateY(50%) !important;
    position: relative;
    width: 120px;
    height: 90px;
    margin: 0 auto;
}

.main-loader:before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: steelblue;
    animation: loading-bounce 0.5s ease-in-out infinite alternate;
}

.main-loader:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 7px;
    width: 45px;
    border-radius: 4px;
    box-shadow: 0 5px 0 #fff, -35px 50px 0 #fff, -70px 95px 0 #fff;
    animation: loading-step 1s ease-in-out infinite;
}

@keyframes loading-bounce {
    0% {
        transform: scale(1, 0.7)
    }
    40% {
        transform: scale(0.8, 1.2)
    }
    60% {
        transform: scale(1, 1)
    }
    100% {
        bottom: 140px
    }
}

@keyframes loading-step {
    0% {
        box-shadow: 0 10px 0 rgba(0, 0, 0, 0),
        0 10px 0 grey,
        -35px 50px 0 grey,
        -70px 90px 0 grey;
    }
    100% {
        box-shadow: 0 10px 0 grey,
        -35px 50px 0 grey,
        -70px 90px 0 grey,
        -70px 90px 0 rgba(0, 0, 0, 0);
    }
}

.version-app {
    font-size: .65rem !important;
    position: absolute !important;
    top: 0.25rem !important;
    left: 0.25rem !important;
}

.bi-geo-alt-fill::before {
    color: brown !important;
}

.accordion-button::after {
    display: none !important;
}

.arrow-toggle {
    position: absolute !important;
    right: 1rem !important;
    transition: all .5s !important;
    z-index: 999 !important;
}


.visible-header {
    top: 0 !important;
    transition: top 0.4s ease-out !important;
}

.hidden-header {
    top: -130px !important;
    transition: top 0.4s ease-out !important;
}

.world-break {
    word-break: break-word !important;
}

.active-page {
    color: white !important;
    background: seagreen !important;
    padding: .5rem !important;
    font-weight: bold !important;
}

/*.css-1nmdiq5-menu {*/
/*    background: rgb(209, 241, 209) !important;*/
/*}*/

.active {
    background: #007a00 !important;
    color: white !important;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5) !important;
}

.padding-sm {
    padding: 0.1rem !important;
}

.btn-edit {
    position: absolute !important;
    right: 2rem !important;
    top: 0 !important;
}

.btn-target:hover {
    background: brown !important;
    color: white !important;
    cursor: pointer !important;
}

.btn-target:not(:hover) {
    background: whitesmoke !important;
    /*color: inherit!important;*/
    cursor: pointer !important;
}


.btn-target_remove:hover {
    background: brown !important;
    color: white !important;
    cursor: pointer !important;
}

.btn-target_remove:not(:hover) {
    background: whitesmoke !important;
    color: brown !important;
    cursor: pointer !important;
}

.btn-add {
    position: absolute !important;
    right: 2rem !important;
    top: -2rem !important;
}

.textarea-resize {
    padding: .25rem!important;
    resize: none!important;
    overflow: hidden!important;
}

.hidden-input {
    opacity: 0!important;
    visibility: hidden!important;
    width: 0!important;
    overflow: hidden!important;
    display: none!important;
}

.btn-attach {
    position: absolute !important;
    right: 5rem !important;
    top: 0!important;
}
.btn-attach-custom {
    display: flex!important;
    /*align-self: flex-start!important;*/
    /*align-content: flex-end!important;*/
}

.loader_file {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
}
.loader_file::before , .loader_file::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0;
    border-radius: 50%;
    border: 5px solid gray;
    animation: prixClipFix 2s linear infinite;
}
.loader_file::after{
    transform: rotate3d(90, 90, 0, 180deg );
    border-color: #FF3D00;
}

@keyframes rotate {
    0%   {transform: rotate(0deg)}
    100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
}
